/* * {
    box-sizing; border-box;
    margin: 0;
    padding: 0;
} */

body {
     background-color: #1a1a1a;  
}
h1 {
    color: white;
    text-align: center;
    font-size: 65px;
    text-shadow: 4px 4px #e6005c;
    font-family: 'Fredoka One', sans-serif;
    margin: 50px;
}
h2 {
    color: white;
    text-align: center;
    margin: 35px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 30px;
    text-shadow: 2px 2px #cc00ff;
}
.devname {
    color: white;
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
}
#board {
    width: 1350px;
    height: 600px;
    background-color: lightblue;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin: 0 auto;
    /* border: 8px solid #5900b3;*/
    /* border-radius: 2.2%; */
    }
.gameboard {
    border: 13px solid;
    border-image-slice: 1;
}
.bordergradient {
    border-image-source: linear-gradient(to left, #cc00ff, #e6005c)
}
@media screen and (max-width: 1300px) {
    #board {
        width: 800px;
        height: 400px;
    .gameboard 
        border: 8px solid;
        border-image-slice: 1;
        border-width: 8px;
    
    }
}

    /* .playerdeck {
        grid-column: 1;
        grid-row: 1;
        color: black;
    }
    .playerpile {
        grid-column: 2;
        grid-row; 1
    } */
    

    #playerdeck, #playerpile, #blank, #finishpile1, #finishpile2, #finishpile3, #finishpile4, #playpile1, #playpile2, #playpile3, #playpile4, #playpile5, #playpile6, #playpile7 {
        /* border: 5px solid green; */
        border-radius: 5%;
        background-size: fill;
        background-repeat: no-repeat;
    }

    div {
        font-size: 50px;
    }

    #winline {
        color: #00b300;
        font-size: 40px;
        text-align: center;
    }

    .emptypile {
        background-color: aquamarine;
    }