/* * {
    box-sizing; border-box;
    margin: 0;
    padding: 0;
} */

body {
     background-color: black;  
}
h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    text-shadow: 3px 3px #e60000;
}
h2 {
    color: white;
    text-align: center;
}
#board {
    width: 80%;
    height: 800px;
    background-color: lightblue;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin: 0 auto;
    border: 8px solid #5900b3;
    border-radius: 2.2%;
    }

    /* .playerdeck {
        grid-column: 1;
        grid-row: 1;
        color: black;
    }
    .playerpile {
        grid-column: 2;
        grid-row; 1
    } */
    

    #playerdeck, #playerpile, #blank, #finishpile1, #finishpile2, #finishpile3, #finishpile4, #playpile1, #playpile2, #playpile3, #playpile4, #playpile5, #playpile6, #playpile7 {
        border: 5px solid green;
        border-radius: 5%;
        background-size: 1fr;
        background-repeat: no-repeat;
    }

    div {
        font-size: 30px;
    }

    #winline {
        color: #00b300;
        font-size: 40px;
        text-align: center;
    }